<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   # @team_name = params[":team_name"]
   # @coach = params[":coach"]
   # @point_guard = params[":pg"]
   # @shooting_guard = params[":sg"]
   # @power_forward = params[":pf"]
   # @small_forward = params[":sf"]
   # @center = params[":c"]

   <%= %>

 </body>
</html>
